body{
   
   background: radial-gradient(circle at center, #9f9f9f, #3a3a3a);
  
}
h1{
    color: white;
    font-family:cursive;
    text-align: center;
    justify-content:center ;
     text-shadow: rgb(61, 168, 255);
}
p{
    color: white;
    font-family:cursive;
    text-align: center;
    justify-content:center ;
  
}
p#demo{
    font-size: 20px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 800px;

}

img#img1{
    margin-left: 10em;
    width: 300px;
    position: absolute;
    justify-content: center;   
    align-items: center; 
    width: 100px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 0 0 20px 8px rgb(31, 31, 31);
}
img#img2{
    margin-left: 70em;
    width: 300px;
    justify-content: center;   
    align-items: center; 
    width: 100px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 0 0 20px 8px rgb(31, 31, 31);
}
img#img3{
    margin-left: 20em;
    width: 300px;
    justify-content: center;   
    align-items: center; 
    width: 100px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 0 0 20px 8px rgb(31, 31, 31);
}
img#img4{
    margin-left: 85em;
    width: 300px;
    position: absolute;
    justify-content: center;   
    align-items: center; 
    width: 100px;
    height: 200px;
    border-radius: 10%;
    box-shadow: 0 0 20px 8px rgb(31, 31, 31);
}
img#img5{
    position: absolute;
    left: 42%;
    top: 9%;
    width: 230px;
    height: 400px;
    border-radius: 10%;
    box-shadow: 0 0 20px 8px rgb(2, 1, 1);
}

img#gif1{
  display: flex;
    margin-left: 40em;
    margin-right: 10em;
    width: 300px;
    position: absolute;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
}
img#gif2{
    display: flex;
   
    margin-left: 79em;
    width: 300px;
    height: 20px;  
     flex-direction: column;
    position: absolute;

}
img#gif3{
    display: flex;
    margin-right: auto;
    
 
}
img#gif4{
    display: flex;
    margin-left:75em;
    position: absolute;
     display: flex;
    flex-direction: column;
    justify-content: center;   
    align-items: center; 
}
img#gif5{
    display: flex;
    margin-left:5em;
    position: absolute;
    

   
}
.section{
    font-size: 30px;
    display: flex;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


   
}  
.section p{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
    width: 100%;

}
button{
    color: black;   
    width: 170px;
    height: 50px;     
    
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 20px 8px rgba(0, 0, 0, 0.304);
    background-color: #dfdfdf;
    display: inline-block;
   
    margin: 10px;
}

button:hover{
    background-color: rgb(117, 44, 44);
    color: white;
}
.button-container{
    display: flex;
    justify-content: space-between;
    
}
.bckBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnAlert{
    margin-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}


